name: Agent AI Workflow

# Setup the configuration to run on main or when pr is released
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Jobs to be run when the workflow is triggered 
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: agent 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '23'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run Tests
        run: ./gradlew test
